---
layout: page
title: Categories
---

<div class="tags-expo">
  <!-- <div class="tags-expo-list">
    {% for tag in site.categories %}
    <a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a>
    {% endfor %}
  </div> -->
  <hr/>
  <div class="tags-expo-section">
    {% for nav in site.nav %}
      {% assign sub_len = nav[1] | size | minus: 1 %}
      {% if nav[0] == 'Categories' %}
        {% for i in (1..sub_len) %}
          {% for sub_nav in nav[1][i] %}
            {% for tag in site.categories %}
              {% if tag[0] == sub_nav[0] %}
                <h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>
                <ul class="tags-expo-posts">
                  {% for post in tag[1] %}
                    <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
                  <li>
                    {{ post.title }}
                  <small class="post-date">{{ post.date | date_to_string }}</small>
                  </li>
                  </a>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
</div>
